@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
    font-family: tl_principal;
    src: url(../fonts/Cinzel-VariableFont_wght.ttfS);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.cart-container {
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 16px;
  width: 70%;
  max-width: 5000px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.cart-container h1 {

   font-size: 28px;
   border-bottom: 1px solid #333;
   padding-bottom: 10px;
}
.cart-container h3{
    font-family: tl_principal;
  bottom: 30px;
  display: flex;
  left: 30px;
  justify-content:flex-end;

}

.cart-item {
  display: flex;
  gap: 100px;
  margin-bottom: 25px;
    
}

.cart-item img {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  object-fit: cover;
}

.item-details h2 {
  font-size: 40px;
  margin-bottom: 8px;
  font-family: tl_principal;
}

.item-details p {
  margin: 4px 0;
 }

.remove-btn {

  top: 225px;
  right: 370px;
  padding: 6px 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  height: 50px;
  margin-left: 320px;
  margin-bottom: 20px;
  position: absolute;

 


}

.remove-btn:hover {
  background-color: #555;
}

.cart-total {
  border-top: 1px solid #333;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-btn {
  padding: 12px 24px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.checkout-btn:hover {
  background-color: #f0f0f0;
}
