
    :root {
      --primary-color: #D8FFDB;
      --cor-secundaria: #015958;
      --cor-terciaria: #C7FFED;
      --cor-quartearia: #023535;
      --cor-comple: #008F8C;
    }

    @font-face {
      font-family: 'streetwar';
      src: url(../fonts/Cinzel-VariableFont_wght.ttf);
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }


    main {
      padding: 30px 10%;
    }

    footer {
      text-align: center;
      padding: 30px;
      background: #000;
      color: var(--cor-terciaria);
      font-size: 14px;
    }

    footer a {
      color: var(--cor-secundaria);
      text-decoration: none;
    }